body {
  background: #000001;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger:hover {
  opacity: 1; }

.hamburger-box {
  width: 20px;
  height: 8px;
  display: inline-block;
  position: relative;
  background-color: transparent; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -3px; }

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 20px;
  height: 2px;
  background-color: #FFF;
  border-radius: 2px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease; }

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block; }

.hamburger-inner::before {
  top: -7px; }

.hamburger-inner::after {
  bottom: -7px; }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease; }

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  background-color: #FFF;
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

.hamburger--squeeze.is-active .hamburger-inner::before {
  background-color: #FFF;
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease; }

.hamburger--squeeze.is-active .hamburger-inner::after {
  background-color: #FFF;
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

#myLinks a {
  text-decoration: none;
  color: white;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 17px;
}

#myLinks a:hover {
  background-color: white;
  color: black;
}

.video-controls {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.video-controls button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  width: 20px;
}

.social { 
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 300px;
}

.envelope {
  color: white;
  background-color: black; 
  font-size: 50px;
}


.myPage {
  position:absolute;
  top:0px;
  width:100vw;
}

/*img, .col2 > video, .smallvid > video {
  border: 7px;
  border-color: #ffa03ead;
  border-style: solid;
}
*/

.myModal > img {
  border:0;
}

.title >h2 {
  transform: rotate( 
90deg);
  font-size: 300px;
  
  padding: 0;
  top: 0;
  margin: 0;
  color: #9d9b9b;
  transform-origin: 0 0;
}

.content--intro .content__inner {
  background: black;
}

h1,h2,p {
  color:#443f3f;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; 
    overflow-y: scroll;
  }

p,h1,h2,h3,h4,ul,li,.topnav,label,input[type=submit]{
    font-family: 'Oswald';
    text-transform: uppercase;
    color: white;
}

h2 {
    padding-left: 20px;
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    line-height: 1.8;
    text-align: justify;
}

body, p {
    font-family: 'Source Sans Pro';
}

.mainvid {
  height: 100vh;
  position: relative;
}

video#headvid {
  object-fit: cover;
  height: 100%;
}

.title {
  position: absolute;
  z-index: -1;
}

.title2 {
  padding-top:50px;
}

.mainpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  width: 100%;
  height: auto;
}

.bigvid {
  width: 30vw;
  object-fit: cover;
  height: 15vw;
}

/* .latest {
  background-color: #f5e6e6;
} */

/* .contact, .film, .gallery {
    background-color: #000001;
} */



/* .bio {
    background-color: #000001 ;
}

.home {
    background-color: #000001 ;
} */



/* Style the navigation menu */
.topnav {
  overflow: hidden;  
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* padding-top: 47px; */
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    padding-top: 57px;
  display: none;
}

/* Style navigation menu links */
.topnav a {
  
  margin: 20px 16px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  position: fixed;
  left: 0;
  top: 0;
}

#myLinks {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: none; /* hide it by default */
}

#myLinks.show {
  opacity: 1;
  display: block; /* show it when class 'show' is added */
}
.active {
  background-color: #04AA6D;
  color: white;
}

  .mycontent {
    max-width: 1140px;
    margin: 0 auto;
    padding-top:50px;
    padding-bottom: 50px;
    padding:20px;
}

.triplecol, .doublecol {
    display: flex;
}

.col2 {
  width: 50%;
  padding:20px;
}

.col {
    width: 33.33333%;
    padding: 20px;
}

@media only screen and (max-width: 750px) {
  .triplecol, .doublecol {
    display: block;
}

.bigvid {
  width: 100vw;
  object-fit: cover;
  height: 60vw;
}

  .col, .col2 {
    width: 100%;
    padding: 0px;
}

body {
  overflow-y: visible;
}

.mainpic {
  width: 100%;
}

div#films {
  padding: 0;
}

img#myImg {
  height: auto !important;
  width: 100vw !important;
}

}

/* @media only screen and (orientation: landscape) {
  .portrait {
    display:none;
  }
}

@media only screen and (orientation: portrait) {
  video#headvid {
    display:none;
  }
  
.portrait {
  padding: 33vh 0;
  text-align: center;
}
} */



video#svid1, video#svid2, video#svid3 {
    max-width: 100%;
}

form {
  max-width: 500px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 80px;
}

input[type=text], select, textarea, input#email {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#my-form-button {
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Oswald';
  border: 1px solid grey;
}

button#my-form-button:hover {
  background-color: rgb(121, 121, 121);
}


input[type=submit]:hover {
  background-color: rgb(121, 121, 121);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.myModal {
  position:sticky;
  top:0vh;
  visibility:hidden;
  opacity:0;
  transition: opacity 0.5s;
  background-color: #000000b3;
  height:0vh;
}

img#myImg {
  padding-top: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: auto;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 20vh;
  left: 50vw;
  font-size: 35px;
  font-weight: bold;
  mix-blend-mode: difference;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}